html {
	scroll-behavior: smooth;
	cursor: url("pointer.svg") 40 40, auto;
}

body {
	margin: 0px;
	overflow-x: hidden;
}

a {
	cursor: url("click.svg") 40 40, auto;	
}

audio {
	width: 100%;
}

.divider {
	border-bottom: 1px solid #000000;
}

.groupup {
	position: fixed;
}

.hide_hyper {
	color: inherit;
	text-decoration: none;
}

.back_menu {
	margin-top: 5px;
}

.below_white {
	position: absolute;
	z-index: 3;
	width: 100vw;
	top: 100vh;
	background-color: #ffffff;
	border-top: solid 5px #ffd700;
}

.web_work {
	width: 50vw;
	float: left;
	display: inline-flex;
}

.other_work {
	width: 30vw;
	float: left;
	display: inline-flex;
}

.logos_sections {
	width: 20vw;
	float: left;
	display: inline-flex;
}

.margins_one {
	margin: 50px 100px 50px 200px;
}

.margins_two {
	margin: 50px 100px 50px 0px;
}

.margins_three {
	margin: 50px 0px 50px 0px;
}

.logos_rec {
	width: 300px;
	height: 200px;
	background-image: url("nike.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center, center;
	background-color: #ffffff;
}

.yellow_left {
	position: fixed;
	background-color: #ffd700;
	height: 100vh;
	width: 50vw;
}

.black_left {
	position: fixed;
	z-index: 1;
	background-color: #000000;
	height: 100vh;
	width: 50vw;
}

.white_left {
	position: fixed;
	z-index: 1;
	background-color: #ffffff;
	height: 100vh;
	width: 50vw;
}

.white_right {
	position: fixed;
	left: 50vw;
	z-index: 1;
	background-color: #ffffff;
	height: 100vh;
	width: 50vw;
}

.yellow_right {
	position: fixed;
	left: 50vw;
	z-index: 1;
	background-color: #ffd700;
	height: 100vh;
	width: 50vw;
}

.empty_right {
	position: fixed;
	left: 50vw;
	z-index: -1;
	background-color: #ffffff;
	background-image: none;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left, center;
	height: 100vh;
	width: 50vw;
}

.left_holder {
	position: fixed;
	transform: translateY(-50%);
	top: 50%;
	margin-left: 6vw;
	max-width: 27vw;
}

.right_holder {
	position: fixed;
	right: 0px;
	transform: translateY(-50%);
	top: 50%;
	margin-right: 6vw;
	max-width: 24vw;
}


.middle_top {
	position: fixed;
	z-index: 4;
	margin-top: 25px;
	width: 100vw;
	text-align: center;
}

.top_left {
	position: fixed;
	z-index: 5;
	margin-top: 25px;
	margin-left: 25px;
}

.top_right {
	position: fixed;
	z-index: 5;
	margin-top: 25px;
	margin-right: 25px;
	right: 0px;
}

.center_center {
	position: fixed;
	z-index: 3;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.circle_home {
	width: 60vh;
	height: 60vh;
	border-radius: 50%;
	overflow: hidden;
}

.circle {
	width: 30vw;
	height: 30vw;
	border-radius: 50%;
	overflow: hidden;
}

.img_resp_center {
	width: 100%;
}

.middle_bottom {
	position: fixed;
	bottom: 0px;
	z-index: 4;
	margin-bottom: 25px;
	width: 100vw;
	text-align: center;
}

.home_spacing {
	margin-left: -20px;
}

.about_spacing {
	margin-left: -59px;
}

.work_spacing {
	position: fixed;
	right: 0px;
	margin-right: -36px;
}

.r20b500 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 1px;
	color: #000000;
}

.r30b500 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 30px;
	letter-spacing: 1px;
	color: #000000;
}

.r40w500 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 40px;
	letter-spacing: 1px;
	color: #ffffff;
}

.r40y500 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 40px;
	letter-spacing: 1px;
	color: #ffd700;
}

.r70w500 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 70px;
	letter-spacing: 1px;
	line-height: 1.1;
	color: #ffffff;
}

.r70b500 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 70px;
	letter-spacing: 1px;
	line-height: 1.1;
	color: #000000;
	word-break: break-word;
}

.r20y500 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 1.1;
	color: #ffd700;
}

.r20w500 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 1.1;
	color: #ffffff;
}

.r15b700 {
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 1px;
	color: #000000;
}

.r15w500 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 15px;
	letter-spacing: 1px;
	color: #ffffff;
}

.r15b500 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 15px;
	letter-spacing: 1px;
	color: #000000;
}

.r15w300 {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 1.5;
	color: #ffffff;
}

.r15w300 a, .r15w500 a {
	color: #ffffff;
}

.r15b700 a, .r15b500 a, .r70b500 a, .r30b500 a {
	color: #000000;
}

.r50b500 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 50px;
	letter-spacing: 1px;
	line-height: 1.1;
	text-align: left;
	color: #000000;
}

.r40b500 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 40px;
	letter-spacing: 1px;
	line-height: 1.1;
	text-align: left;
	color: #000000;
}

.r15b400 {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5;
	text-align: left;
	color: #000000;
}

.r30y700 {
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 1.5;
	text-align: left;
	color: #ffd700;
}

.back_black_span {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	color: #000000;
}


.back_black {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	color: #000000;
	text-decoration: none;
}

.back_black:hover {
	text-decoration: underline;
}

.back_white {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	color: #ffffff;
	text-decoration: none;
}

.back_white_span {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	color: #ffffff;
}

.back_white:hover {
	text-decoration: underline;
}

.back_white:hover {
	text-decoration: underline;
}

.underline {
	text-decoration: none;
}

.underline:hover {
	text-decoration: underline;
}

.bg_white_click {
	background-color: #ffffff;
}

.space10 {
	margin-top: 10px;
}

.space20 {
	margin-top: 20px;
}

.space30 {
	margin-top: 30px;
}

.space40 {
	margin-top: 40px;
}

.space50 {
	margin-top: 50px;
}

.space40down {
	margin-bottom: 40px;
}

.space50down {
	margin-bottom: 50px;
}

.vertical_centered_text {
	top: 50%;
	position: fixed;
	z-index: 5;
	transform: translateY(-50%) rotate(-90deg);
	white-space: nowrap;
}

.numbers {
	position: relative;
	bottom: 35px;
	left: -3px;
}

#one:hover + span, #two:hover + span, #three:hover + span, #four:hover + span, #five:hover + span {
	color: #0000ff;
}

.popup {
	display: none;
}

.showcase_img {
	height: 100vh;
	position: fixed;
	overflow: hidden;
	display: none;
}

.portf_group {
	z-index: 2;
	margin-left: 10vw;
	margin-right: 10vw;
	padding-top: 15vh;
}

.first_col {
	width: 100%;
	float: left;
	position: relative;
	z-index: 2;
}

.second_col {
	width: 30%;
	float: left;
	margin-right: 30px;
	position: relative;
	z-index: 2;
}

.third_col {
	width: 30%;
	float: left;
	margin-right: 30px;
	position: relative;
	z-index: 2;
}

.fourth_col {
	width: 30%;
	float: left;
	position: relative;
	z-index: 2;
}

.map_circle {
	position: fixed;
	z-index: 0;
	transform: translate(-50%, -50%);
	top: 120px;
	left: 45%;
	display: none;
}

.map_circle_pos {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	overflow: hidden;
}

.content {
	margin-left: 170px;

}

.fullsize {
	width: calc(90% + 60px);
	float: left;
}

.first_third, .second_third {
	width: 30%;
	float: left;
	margin-right: 60px;
}

.third_third {
	width: 30%;
	float: left;
}

.first_half {
	width: 45%;
	float: left;
	margin-right: 60px;
}

.second_half {
	width: 45%;
	float: left;
}

.first_fourth, .second_fourth, .third_fourth {
	width: 22%;
	float: left;
	margin-right: 32px;
}

.fourth_fourth {
	width: 22%;
	float: left;
}

.header_img {
	height: 50vh;
	width: 100%;
	object-fit: cover;
}

.crop320 {
	height: 320px;
	width: 140%;
	object-fit: cover;
	object-position: top;
}

.crop450 {
	height: 450px;
	width: 140%;
	object-fit: cover;
	object-position: bottom;
}

.row {
	display: table;
	clear: both;
}

.quote {
	font-style: italic;
	margin: 0px 25px 0px 25px;
}

.bullet {
	margin: 0px 0px 0px 25px;
}

.italic {
	font-style: italic;
}

.show_on_mobile, .show_on_mobile_inline {
display: none;
}

.view_black {
color: #000000;
}

.view_white {
color: #ffffff;
}

/*especific media queries*/
@media (orientation:portrait) {
	.circle_home {
	height: 60vw;
	width: 60vw;
	}
}


/*general media queries*/

@media (max-width: 480px) {
	.show_on_mobile {
	display: block;
	}
	.show_on_mobile_inline {
	display: inline;
	}
	.disapear_on_mobile {
	display: none;
	}
	.breakline {
	display: block;
	}
	.circle {
	display: none;
	}
	.groupup {
	position: relative;
	}
	.top_left {
	margin-top: 25px;
	margin-left: 25px;
	}
	.black_left {
	position: relative;
	width: 100vw;
	height: inherit;
	margin-top: 10%;
	margin-bottom: 10%;
	}
	.left_holder {
	position: relative;
	transform: none;
	top: 0%;
	max-width: 100%;
	margin-left: 25px;
	}
	.yellow_right {
	position: relative;
	width: 100vw;
	height: inherit;
	padding-top: 20%;
	padding-bottom: 20%;
	left: 0%;
	}
	.right_holder {
	position: relative;
	transform: none;
	margin-left: 25px;
	margin-right: 25px;
	max-width: 100%;
	}
	.about_spacing {
	margin-left: -49px;
	}
	.r15w300 {
	font-size: 20px;
	}
	.r15w500 {
	font-size: 18px;
	line-height: 1.25;
	}
	.r15b400 {
	font-size: 16px;
	}
	.r15b700 {
	font-size: 18px;
	}
	.r40b500 {
	font-size: 30px;
	}
	.portf_group {
	margin-left: 25px;
	margin-right: 25px;
	padding-top: calc(10vh + 100px);
	}
	.second_col {
	width: 100%;
	}
	.third_col {
	width: 100%;
	margin-top: 50px;
	}
	.fourth_col {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
	}
	.top_left {
	position: relative;
	}
}

@media (max-width: 900px) and (min-width: 480px) {
	.breakline {
	display: block;
	}
	.show_on_mobile_inline {
	display: inline;
	}
	.disapear_on_mobile {
	display: none;
	}
	.circle {
	display: none;
	}
	.groupup {
	position: relative;
	}
	.black_left {
	position: relative;
	width: 100vw;
	height: inherit;
	margin-top: 10%;
	margin-bottom: 10%;
	}
	.left_holder {
	position: relative;
	transform: none;
	top: 0;
	max-width: 100%;
	margin-left: 20vw;
	}
	.yellow_right {
	position: relative;
	width: 100vw;
	height: inherit;
	padding-top: 20%;
	padding-bottom: 20%;
	left: 0%;
	}
	.right_holder {
	position: relative;
	transform: none;
	margin-left: 20vw;
	margin-right: 20vw;
	max-width: 100%;
	}
	.r15w300 {
	font-size: 20px;
	}
	.r20y500 {
	font-size: 25px;
	}
	.r15w500 {
	font-size: 18px;
	line-height: 1.25;
	}
	.r15b400 {
	font-size: 16px;
	}
	.r15b700 {
	font-size: 18px;
	}
	.portf_group {
	margin-left: 12vw;
	margin-right: 12vw;
	padding-top: calc(10vh + 100px);
	}
	.second_col {
	width: 100%;
	}
	.third_col {
	width: 100%;
	margin-top: 50px;
	}
	.fourth_col {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
	}
	.show_on_mobile {
	display: block;
	}
	.top_left {
	margin-top: 25px;
	margin-left: 25px;
	position: relative;
	}
}


@media (max-width: 1200px) and (min-width: 900px) {
	.circle {
	height: 25vw;
	width: 25vw;
	display: block;
	}
	.left_holder {
	margin-left: 10vw;
	max-width: 40vw;
	}
	.right_holder {
	margin-right: 10vw;
	max-width: 24vw;
	}
	.r15b400 {
	font-size: 12px;
	}
	.r15b700 {
	font-size: 12px;
	}
	.r15w500 {
	font-size: 12px;
	}
	.r20y500 {
	font-size: 17px;
	}
	.r70w500 {
	font-size: 50px;
	}
	/* work */
	.r70b500 {
	font-size: 35px;
	}
	.r30y700 {
	font-size: 25px;
	}
	.numbers {
	bottom: 15px;
	left: 0px;
	}
	.r30b500 {
	font-size: 24px;
	}
	.r20b500 {
	font-size: 17px;
	}
	.web_work {
	width: 100vw;
	}
	.other_work {
	width: 100vw;
	}
	.margins_one {
	margin: 50px 12VW 0px 12vw;
	}
	.margins_two {
	margin: 0px 12vw 50px 12vw;
	}
	.margins_three {
	margin: 0px 0px 0px 12vw;
	}
	.logos_rec {
	width: 250px;
	height: 150px;
	}
}


@media (max-width: 2000px) and (min-width: 1200px) {
	.circle {
	display: block;
	}
	.left_holder {
	margin-left: 12vw;
	max-width: 40vw;
	}
	.right_holder {
	margin-right: 8vw;
	max-width: 25vw;
	}
	.r15b400 {
	font-size: 13px;
	}
	.r50b500 {
	font-size: 40px;
	}
	.r15w300 {
	font-size: 17px;
	}
	.r20y500 {
	font-size: 25px;
	}
	.r70w500 {
	font-size: 60px;
	}
	/* work */
	.r70b500 {
	font-size: 50px;
	}
	.r30y700 {
	font-size: 25px;
	}
	.numbers {
	bottom: 15px;
	left: 0px;
	}
	.r30b500 {
	font-size: 24px;
	}
	.r20b500 {
	font-size: 17px;
	}
	.web_work {
	width: 45vw;
	}
	.margins_one {
	margin: 50px 50px 50px 12vw;
	}
	.margin_two {
	margin: 50px 50px 50px 0px;
	}
	.margins_three {
	margin: 90px 0px 0px 0px;
	}
	.logos_rec {
	width: 250px;
	height: 150px;
	}
}


@media (min-width: 2000px) {
	.r40y500 {
	font-size: 50px;
	}
	.back {
	font-size: 25px;
	}
	.circle {
	height: 25vw;
	width: 25vw;
	display: block;
	}
	.left_holder {
	margin-left: 9vw;
	}
	.r15b400 {
	font-size: 20px;
	}
	.r15b700 {
	font-size: 22px;
	}
	.r15w500, r15b500 {
	font-size: 22px;
	}
	.r15w300 {
	font-size: 25px;
	}
	.r20y500, r20b500 {
	font-size: 40px;
	}
	.r70w500, r70b500 {
	font-size: 100px;
	}
	.r30b500 {
	font-size: 40px;
	}
}
